.n-aikuIT .right-box .offer{
  background-color: white;
  border: 1px solid #D8D8D8;
  margin: 15px auto 25px auto;
  text-align: left;     
}
.n-aikuIT .right-box .offer .offer-title{
  background-color: #327DEA;
  color: white;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.n-aikuIT .right-box .offer .offer-title .title{
  font-weight: bold;
  font-size: 20px;
}
.n-aikuIT .right-box .offer .offer-title .day{
  font-size: 14px;
  margin-left: 20px;
}
.n-aikuIT .right-box .offer .offer-title .title-area{
  display: flex;
  align-items: center;
  justify-content: left;
}

.n-aikuIT .right-box .offer .offer-box{
  padding: 25px;
}
.n-aikuIT .right-box .offer .offer-box .company-area{
  background-color: #E4ECFB;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}
.n-aikuIT .right-box .offer .offer-box .company-area p{
  line-height: 1.5
}
.n-aikuIT .right-box .offer .offer-box .company-area a{
  color: #327DEA;
  text-decoration: underline;
}
.n-aikuIT .right-box .offer .offer-box .company-area a:hover{
  text-decoration: none;
}
.n-aikuIT .right-box .offer .offer-box .company-area .company-name{
  font-weight: bold;
  font-size: 20px;
  color: #327DEA;
}
.n-aikuIT .right-box .offer .offer-box .company-area .company-info{
  margin-left: 20px;
}
.n-aikuIT .right-box .offer .offer-box .company-message{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.n-aikuIT .right-box .offer .offer-box .company-message .company-btn{
  width: 220px;
  font-weight: bold;
  color: white;
  background-color: #F05A3D;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 17px;
  margin-left: 20px;
}
.n-aikuIT .right-box .offer .offer-box .company-message .company-btn:hover{
filter: drop-shadow(2px 2px 2px rgba(0,0,0,0));
}
.n-aikuIT .tag .tag-new {
  background-color: #FF0000;
  padding: 5px;
  margin-right: 20px;
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 600;
}

@media (max-width: 700px){
  .n-aikuIT .right-box .offer .offer-title{
    display: block;
    position: relative;
    padding-top: 15px;
  }
  .n-aikuIT .right-box .offer .offer-title .title-area{
    display: block;
  }
  .n-aikuIT .right-box .offer .offer-title .title-area .tag{
    margin-bottom: -15px;
  }
  .n-aikuIT .right-box .offer .offer-title .day{
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .n-aikuIT .right-box .offer .offer-title .title{
    margin-top: 20px;
  }
  .n-aikuIT .right-box .offer .offer-box .company-area{
    display: block;
  }
  .n-aikuIT .right-box .offer .offer-box .company-area .company-info{
    margin-left: 0;
    margin-top: 10px;
  }
  .n-aikuIT .right-box .offer .offer-box .company-message{
    display: block;
  }
  .n-aikuIT .right-box .offer .offer-box .company-message .company-btn{
    margin: 20px auto 0 auto;
    text-align: center;
  }
  }
