.n-aikuIT .text-main-box{
  background-color: white;
  margin: 150px auto 70px auto ;
  padding: 60px 60px 30px 60px;
  width: 1000px;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
  text-align: left;
  font-size: 15px;
}
.n-aikuIT .text-main-box h1{
  color: #327DEA;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.n-aikuIT .text-main-box h2{
  color: #327DEA;
  font-size: 20px;
  margin-bottom: 15px;
}
.n-aikuIT .text-main-box p{
  margin-bottom: 40px;
}
.n-aikuIT .text-main-box p.text-right{
  text-align: right;
}
.n-aikuIT .text-main-box hr{
  border: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  border-top: 1px solid #eee;
}
.n-aikuIT .text-main-box a{
  color: #327DEA;
}
.n-aikuIT .text-main-box a:hover{
  text-decoration: underline;
}