.n-aikuIT .right-box .kensaku-result .kigyo-list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0px;
}

.n-aikuIT .right-box .kensaku-result .kigyo-list .kigyo{
  width: 32%;
  background: white;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
  margin: 10px 0px;
}
.n-aikuIT .right-box .kensaku-result .kigyo-list .kigyo-summary{
  padding: 18px;
  text-align: left;
  transition: 0.3s;
}
.n-aikuIT .right-box .kensaku-result .kigyo-list .kigyo-summary:hover{
  background: #E4F4F9;
}
.n-aikuIT .right-box .kensaku-result .kigyo-list .kigyo-summary .kigyo-img img{
  width: 100%;
}
.n-aikuIT .right-box .kensaku-result .kigyo-list .kigyo-summary .company{
  font-size: 1em;
  font-weight: 600;
}
.n-aikuIT .right-box .kensaku-result .kigyo-list .kigyo-summary .text{
  font-size: 0.8em;
  line-height: 1.7em;
}
.n-aikuIT .right-box .kensaku-result .kigyo-list .kigyo-summary .area{
  font-size: 0.8em;
  line-height: 2.3em;
}
.n-aikuIT .right-box .kensaku-result .kigyo-list .kigyo-summary .gyosyu{
  color: #327DEA;
  font-size: 0.8em;
  font-weight: 600;
}
.n-aikuIT .right-box .kensaku-result .kigyo-list .kigyo-summary .tag{
  margin-top: 0.8em;
}
.n-aikuIT .right-box .kensaku-result .kigyo-list .button{
  background: #E4ECFB;
  padding: 14px 18px;
  display: flex;
  justify-content:space-between;
}
.n-aikuIT .right-box .kensaku-result .kigyo-list .button a{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #327DEA;
  font-weight: bold;
  color: white;
  width: 48%;
  padding: 5px 0;
  border-radius: 5px;
  transition: 0.3s;
}
.n-aikuIT .right-box .kensaku-result .kigyo-list .button p{
  font-size: 0.9em;
}
.n-aikuIT .right-box .kensaku-result .kigyo-list .button .kininaru-btn{
  background: white;
  color: #327DEA;
  border: solid #327DEA 1px;
}

.n-aikuIT .kensaku-komoku{
  display: none;
}

@media (max-width: 1200px){
  .n-aikuIT .right-box .kensaku-result .kigyo-list .button p{
    font-size: 0.7em;
  }
}
@media (max-width: 760px){
  .n-aikuIT .right-box .kensaku-result .kigyo-list .kigyo{
    width: 48%;
  }
}
@media (max-width: 560px){
  .n-aikuIT .right-box .kensaku-result .kigyo-list{
    display: block;
  }
  .n-aikuIT .right-box .kensaku-result .kigyo-list .kigyo{
    width: 100%;
    margin-bottom: 5%;
  }
}




/* ------------------- 求人検索一覧 ------------------- */

.n-aikuIT .tag .tag-new {
  background-color: #FF0000;
  padding: 5px;
  margin-right: 20px;
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 600;
}

.n-aikuIT .right-box .kensaku-result .kyujin-list{
  width: 100%;
  margin: 15px 0px;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin{
  background: white;
  margin-bottom: 2em;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary{
  display: flex;
  align-items: center;
  text-align: left;
  padding: 30px;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-img {
  width: 45%;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-img img{
  width: 100%;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-text{
  width: 55%;
  padding-left: 20px;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-text .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-text .title{
  font-size: 1.2em;
  font-weight: 600;
  color: #327DEA;
  line-height: 1.5em;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-text .title:hover{
  text-decoration: underline;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-text .date-edit{
  font-size: 13px;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-text .text{
  font-size: 0.9em;
  margin: 10px 0px;
  line-height: 1.5em;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-text h2{
  font-size: 1.2em;
  font-weight: 600;
  color: #327DEA;
  line-height: 1.5em;
  margin-top: 15px;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-text h2 a{
  font-size: 0.7em;
  font-weight: 400;
  color: #327DEA;
  text-decoration: underline;
  margin-left: 1em;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-text .status{
  margin-top: 5px;
  color: #327DEA;
  font-size: 0.8em;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .status .area{
  background: url("../images/sp/top/area-blue.png") no-repeat left;
  padding: 0 0 0 20px;
  margin: 0;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .status .syokusyu{
  background: url("../images/sp/top/bag-blue.png") no-repeat left;
  padding: 0 0 0 20px;
  margin: 0;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .status .salary{
  background: url("../images/sp/top/money-blue.png") no-repeat left;
  padding: 0 0 0 20px;
  margin: 0;
}


.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-button{
  background: #E4ECFB;
  text-align: center;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .button{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1em 0;
}

.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .button a{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #327DEA;
  font-weight: bold;
  color: white;
  width: 200px;
  margin: 0 1em;
  padding: 5px 0;
  border-radius: 5px;
  transition: 0.3s;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .button p{
  font-size: 0.9em;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .button .kininaru-btn{
  background: white;
  color: #327DEA;
  border: solid #327DEA 1px;
}


@media (max-width: 1200px){
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin{
  margin-bottom: 1.5em;
}
}
@media (max-width: 960px){
.n-aikuIT .kensaku-komoku{
  display: block;
  background-color: #FEFFE5;
  padding: 4%;
  margin: 2% 0;
  text-align: left;
}
.n-aikuIT .kensaku-komoku .kensaku-komoku-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.n-aikuIT .kensaku-komoku .joken{
  font-weight: bold;
}
.n-aikuIT .kensaku-komoku .joken-txt{
  width: 75%;
  font-size: 16px;
}
.n-aikuIT .kensaku-komoku .kensaku-komoku-btn a{
  width: 20%;
  display: block;
}
.n-aikuIT .kensaku-komoku .joken-btn{
  background-color: white;
  border-radius: 5px;
  border:1px solid #327DEA;
  padding: 10px 5px;
  font-weight: bold;
  color: #327DEA;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
  text-align: center;
  line-height: 1.4;
  font-size: 16px;
}
}

@media (max-width: 740px){
  .n-aikuIT .right-box .kensaku-result .kyujin-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin{
    width: 48%;
  }
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary{
  display: block;
  padding: 5%;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-img {
  width: 100%;
  margin-bottom: 15px;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-text{
  width: 100%;
  padding-left: 0;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-text .info{
  display: block;
  position: relative;
  padding-top: 25px;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .kyujin-summary .kyujin-text .info .date-edit{
  position: absolute;
  top:-0;
  right: 0;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .button{
  padding: 1em;
  justify-content: space-between;
}
.n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin .button a{
  width: 48%;
  margin: 0;
}
}

@media (max-width: 560px){
  .n-aikuIT .right-box .kensaku-result .kyujin-list {
    display: block;
  }
  .n-aikuIT .right-box .kensaku-result .kyujin-list .kyujin{
    width: 100%;
  }
  }

/* ------------------- ページネーション ------------------- */

.n-aikuIT .right-box .kensaku-result .pagenation{
  width: 100%;
  margin: 30px 0px 60px 0px;
  display: flex;
}
.n-aikuIT .right-box .kensaku-result .pagenation .pages{
  display: flex;
}

.n-aikuIT .right-box .kensaku-result .pagenation .pages a{
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 0px 6px;
}
.n-aikuIT .right-box .kensaku-result .pagenation .pages .arrow{
  background: #327DEA;
}
.n-aikuIT .right-box .kensaku-result .pagenation .pages .disabled{
  background: #D8D8D8;
}
.n-aikuIT .right-box .kensaku-result .pagenation .pages .page-select{
  background: white;
  border: solid #D8D8D8 1px;
}

